#mainLogo{
  margin-top: 1em;
  width: 100%;
  margin-left: 2%;
}

#bod{
  height: 100%;
}

html{
  height: 100%;
}

#logInButton{
  font-size: 30px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  float: right;
  position: relative;
  top: 10px;
  background-color: #acdfe6;
  padding-right: 60px;
  padding-left: 10px;
}

#logInButton:hover{
  background-color: #5282bc;
  font-size: 50px;
}

#navItems{
  background-color: #acdfe6;
  width: 75%;
  position: relative;
  top: 10em;
}
.navItem{
  display: block;
  padding: 5em;
}

#loginBox{
  width: 50%;
  border: solid black;
  margin: 0 auto;
  margin-top: 2em;
}

.input-group{
  padding: 1em;
}

.nav{
  padding: 1em;
}

.list-group{
  width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  border: solid gray;
  border-radius: .5em;
}

.btn{
  width: 100%;
}

.btn:hover{
  background-color: lightgray;
}

#AdminToolList{
  width: 100%;
  margin-left: 2%;
}

#blogText{
  width: 90%;
  height: 50%;
  margin-right: 2%;
  margin-top: 2em;
  float: right;
  border: solid gray;
  border-radius: .5em;
  text-overflow: clip;
}

#blogHeader{
  text-align: center;
}

#blogBtn{
  width: 20%;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
}

#calBtn {
  width: 20%;
  font-size: 2em;
}

#logoutBtn{
  width: 20%;
  font-size: 2em;
  margin-left: 1em;
}

#adminCalLog{
  text-align: center;
  margin-top: 6%;
}