#mainLogo{
  margin-top: 2em;
  width: 100%;
  margin-left: 12%;
}

#bod{
  height: 100%;
  background-color: #dee4e9;
}

html{
  height: 100%;
  background-color: #dee4e9;
}

#loginBtn{
  background-color: #5282bc;
  width: 70%;
  color: white;
  margin-top: 5%;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

#loginBtn:hover{
  background-color: #c24747;

  opacity: 0.7;
}

#navItems{
  background-color: #acdfe6;
  width: 75%;
  position: relative;
  top: 10em;
}
.navItem{
  display: block;
  padding: 5em;
}

#loginBox{
  width: 75%;
  border: solid #5282bc;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: .5em;
}

.input-group{
  padding: 1em;
}

.nav{
  padding: 1em;
}

.list-group{
  width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  border: solid gray;
  border-radius: .5em;
}

.btn{
  width: 100%;
}

#AdminToolList{
  width: 100%;
  margin-left: 2%;
}

#blogText{
  width: 90%;
  height: 50%;
  margin-right: 2%;
  margin-top: 2em;
  float: right;
  border: solid gray;
  border-radius: .5em;
  text-overflow: clip;
}

#blogHeader{
  text-align: center;
}

#blogBtn{
  width: 20%;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  background-color: #5282bc;
  color: white;
}

#calBtn {
  width: 20%;
  font-size: 2em;
}

#logoutBtn{
  width: 20%;
  font-size: 2em;
  margin-left: 1em;
}

#adminCalLog{
  text-align: center;
  margin-top: 6%;
}

.nav-link:hover {
    background-color: dodgerblue;
}

.input-group {
    padding-left: 3.5em;

}

.spacing-div {
    height: 3em;
}

#postTopNav{
  font-size: 25px;
}

#postBotNav{
  font-size: 25px;
}

#postLogoDiv{
  height: 200px;
}

.list-group{
  background-color: black;
}



#preLogLogo{
  height: 200px;
}



/* .preNavItem{
  border: solid #c24747;
  padding: 1em;
  padding-bottom: 5em;
  
}

.preNavItem:hover{
  background-color: black;
  fill-opacity: .5;
} */

.preNavItem {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 1;

  /* border: solid #c24747; */
  padding: 1em;
  /* padding-bottom: 5em; */
  background-color: #5282bc;
}

.preNavItem:hover {
  opacity: 0.7;
  background-color: #c24747;
  color: white;
}

#preNav{
  font-size: 25px;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 1;

  
}

.preNav:hover {
  opacity: 0.7;
}

.preLink{
  color: white;
}

.nav-link:hover{
  background-color: #c24747;
  color: white;
}



#postMainLogo{
  width: 100%;
  
}

#postLogoDiv{
  margin-top: 4em;
  align-content: center;
}

#postWelcome{
  margin-left: 25%;
  margin-top: 10%;
}