 ul {
        list-style-type: none;
      }

.newsBlurb{
    margin: 5px;
    border-bottom: solid thin gray;
    padding-bottom: 1em;
}

#newsContainer{
    background-color: #dee4e9;
    border-radius: .5em;
}

#newsDiv{
    margin-left: -2.5em;
}
